<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd 
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context.xsd">
    
    <context:component-scan base-package="com.lata.springcoredemo"></context:component-scan>
   
   <!--  
    <bean class="com.lata.springcoredemo.Employee" autowire="byName" init-method="myInit" destroy-method="myDestroy">
    	<constructor-arg name="id" value="101"></constructor-arg>
    	<constructor-arg name="name" value="Ronit"></constructor-arg> 
    </bean>
    
    <bean id="address1" class="com.lata.springcoredemo.Address">
    	<constructor-arg name="address" value="E-110/49"></constructor-arg>
    	<constructor-arg name="city" value="Gurugram"></constructor-arg>
    	<constructor-arg name="state" value="Haryana"></constructor-arg>
    	<constructor-arg name="zipcode" value="122001"></constructor-arg>
    </bean>
    <bean id="address" class="com.lata.springcoredemo.Address">
    	<constructor-arg name="address" value="D-10/50"></constructor-arg>
    	<constructor-arg name="city" value="Delhi"></constructor-arg>
    	<constructor-arg name="state" value="Delhi"></constructor-arg>
    	<constructor-arg name="zipcode" value="110001"></constructor-arg>
    </bean>
     -->
</beans>